<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hty.batterymonitor"
    android:versionCode="7"
    android:versionName="7.5" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="海天鹰电量监控"
        android:theme="@android:style/Theme.Holo" >
        <!--
        <activity
            android:name="com.hty.batterymonitor.BatteryMonitor"
            android:label="海天鹰电量监控"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        -->
        <activity
            android:name="com.hty.batterymonitor.MainActivity"
            android:label="海天鹰电量监控"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>        
        </activity>
  	    <activity
            android:name="com.hty.batterymonitor.BatteryRecord"
            android:label="海天鹰电量监控 - 历史数据"
            android:launchMode="singleTask" />
  	    <activity
            android:name="com.hty.batterymonitor.BatteryCanvas"
            android:label="海天鹰电量监控 - 电量曲线"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <service android:enabled="true" android:name="com.hty.batterymonitor.BatteryService" />
        <service android:name="com.hty.batterymonitor.WidgetService" android:enabled="true" />
        <receiver android:name="com.hty.batterymonitor.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/monitor_widget_info" />
        </receiver>
    </application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>    
</manifest>